<article id="<%= post.layout %>-<%= post.link %>"
  class="post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
	<section class='meta'>
	<h2 class="title">
  	<a href="<%- url_for(post.path) %>">
    	<%= post.title %>
    </a>
  </h2>
	<time>
	  <%= date(post.date, 'MMM D, YYYY') %>
	</time>
	<% if(post.updated && date(post.updated, 'YYYYMMDD') > date(post.date, 'YYYYMMDD')){ %>
	<time>
	  , updated on <%= date(post.updated, 'MMM D, YYYY') %>
	</time>
	<% } %>
	<%- partial('categories',{post:post}) %>
	</section>
	<% if(post.toc!==false){ %>
		<section class="toc-wrapper"><%- toc(post.content) %></section>
	<% } %>
	<section class="article typo">
  	<div class="article-entry" itemprop="articleBody">
    	<%- builder(post).invoke(process).invoke(seqno, post.seqno).build('content') %>
			<% 
			/* 
				文章底部版权信息输出条件：
				1. 设置"copyright:false"不输出
				2. Page一般情况不输出
				3. Page设置"pageCopyright:true"输出
				4. "reason"用于设置版权前缀信息，默认为“PS：转载文本...”，如果设置"reason:REASON"，则会显示“PS：REASON，转载文本...”
			*/
			if(!(post.copyright == false || (type == "page" && post.pageCopyright != true))) { %>
				<p class="article-copyright"><b>PS：
				<%- post.copyrightPrefix != null && post.copyrightPrefix != '' ? post.copyrightPrefix + '，' : '' %>
				转载本文的任何图文请注明出处：<a href="/article/<%- post.link %>.html"><%- post.title %> - 
				<%- theme.url.replace('http://', '').replace('https://', '') %></a></b></p>
			<% } %>
  	</div>
	  <% if (post.tags && post.tags.length) { %>
	  <div class="article-tags tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
		
	<% if(post.prev || post.next){ %>
		<div class="art-item-footer">
				<% if(post.prev){ %>
					<span class="art-item-left"><i class="icon icon-chevron-thin-left"></i>prev：<a href="<%=url_for(post.prev.path)%>" rel="prev"  title="<%=post.prev.title%>">
						<%= post.prev.title %> 
					</a></span>
				<% } %>
				<% if(post.next){ %>
					<span class="art-item-right">next：<a href="<%=url_for(post.next.path) %>" rel="next"  title="<%=post.next.title %>">
						<%=post.next.title  %>
					</a><i class="icon icon-chevron-thin-right"></i></span>
				<%} %>
		</div>
	<%} %>
	</section>
	<% if (post.comments && config.disqus_shortname){ %>
		<section id="comments">
			<div id="disqus_thread"></div>
		</section>
	<% } %>
</article>
<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>
